.kotak1, .kotak2, .kotak3{
    width: 200px;
    height: 200px;
    display: inline-block;
}

.kotak1{
    background-color: crimson;
    margin-right: -100px;
}

.kotak2{
    background-color: darkblue;
    margin-right: -100px;
}

.kotak3{
    background-color: greenyellow;
}