*{
    font-family: 'Times New Roman', Times, serif;
}

P{
    background-color: aqua;
}

.fixed-position{
    position: fixed;
    background-color: coral;
    left: 0;
    top: 50px;
}

h1{
    background-color: limegreen;
    position: fixed;
    top: 100px;
    left: 0;
}